<h3 class="text-center">Product List</h3>
<div class="text-center loader" *ngIf="isLoading">
  <img src="assets/images/loader.gif" alt="" />
</div>
<div class="product-list" *ngIf="!isLoading">
  <p class="text-right"><b>Total products: </b> {{ productList.length }}</p>
  <div class="card product" *ngFor="let product of productList;let i = index">
    <div class="card-body">
      <h5 class="card-title">{{ product.productName }}</h5>
      <h6 class="card-subtitle mb-2 text-success" *ngIf="product.availableQuantity > 0">Available Stock: {{ product.availableQuantity }}</h6>
      <h6 class="card-subtitle mb-2 text-danger"  *ngIf="product.availableQuantity == 0">No Stock</h6>
      <div class="text-right">
        <a [routerLink]="['/order', i]" class="card-link btn btn-sm btn-primary text-right">Order</a>
      </div>
    </div>
  </div>
</div>
